# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
build

# Test & Code Analysis
.scannerwork
coverage
junit.xml

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Build output
dist

# IDE
.idea
.vscode
